.container__header {
    height: 45px;
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;

    .header__icon {
        display: flex;
        align-items: center;
        font-size: 12px;

        .header__icon__link {
            color: black;
            text-decoration: none;
        }
    }

    .header__actions__container {
        display: flex;
        align-items: center;
        .header__actions__container__login, .header__actions__container__menu {
            font-size: 16px;
        }
    }
}